%h1 Configuración de Desempeños
%br/
%td= link_to "Nuevo" , '/configurar_desempenos/new'
%br/
%table{:border => "2"}
  %tr
    %th Titulo
    %th Descripcion
    %th{:colspan => "3"} Acciones
  - @desempenos.each do |desempeno|
    %tr
      %td= desempeno.titulo
      %td= desempeno.descripcion
      %td= button_to "Detalles" ,{:controller => :configurar_desempenos, |
          :action => 'show', :id => desempeno.id }, :method => "get"    |
      %td= button_to "Editar" , {:controller => :configurar_desempenos, |
          :action => 'edit', :id => desempeno.id }, :method => "get"   |
      %td= button_to "Eliminar" , {:controller => :configurar_desempenos,                                       |
          :action => 'destroy', :id => desempeno.id }, :method => "delete", data: { confirm: 'Are you sure?' } |
%h5{:style => "text-align: center"}= will_paginate (@desempenos)
