%h1 Nuevo Desempeño
= link_to 'Atras', configurar_desempenos_path
= form_for :desempeno, url: configurar_desempenos_path do |f|
  - if @desempeno.errors.any?
    #error_explanation
      %h2
        = pluralize(@desempeno.errors.count, "error")
        No se admite campos vacios.
      %ul
        - @jugador.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :Titulo
    %br/
    = f.text_field :titulo
  %p
    = f.label :Descripcion
    %br/
    = f.text_field :descripcion
  %p
    = f.submit "Guardar"
