!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ProyectoColegio
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: "layouts/navbar"
    - if flash[:notice]
      .alert.alert-success.alert-dismissable
        = link_to "x", "#", class: "close", title: "close", data: {dismiss: "alert"}
        = flash[:notice]
    - if flash[:alert]
      .alert.alert-danger.alert-dismissable
        = link_to "x", "#", class: "close", title: "close", data: {dismiss: "alert"}
        = flash[:alert]
    .container
      = yield
